.input-container {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}

.input-container > input {
    padding: 15px;
    margin: 2%;
}

.input-container > * {
    color: rgb(0, 0, 0);
}

.input {
    height:50px;
    font-size:14pt;
}